<form class="add-form" [formGroup]="infoForm">
    <div class="form-control">
      <label for="text">Recipient</label>
      <input
        ng-model="recipient"
        type="text"
        name="recipient"
        id="text"
        placeholder="Add Recipient"
        required
      />
    </div>
    <div class="form-control">
      <label for="subject">Subject</label>
      <input
        type="text"
        name="subject"
        id="subject"
        placeholder="Specify Subject"
      />
    </div>
    <div class="form-control">
        <label for="message">Message</label>
        <input
          type="text"
          name="message"
          id="message"
          placeholder="Write Message"
        />
      </div>
    <input type="submit" value="Send" class="btn btn-block" />
</form>